/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
  position:fixed;
  width:100%;
  top:0;
  background:rgba(15,23,42,0.95);
  backdrop-filter:blur(10px);
  z-index:1000;
}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  text-decoration:none;
  color:#cbd5e1;
  font-weight:500;
  transition:.3s;
}

.nav-links a:hover{
  color:#fff;
}

/* HAMBURGER */
.hamburger{
  display:none;
  flex-direction:column;
  cursor:pointer;
}

.hamburger span{
  height:3px;
  width:25px;
  background:#fff;
  margin:4px 0;
  transition:.3s;
}

/* MOBILE */
@media(max-width:768px){

  .nav-links{
    position:absolute;
    top:70px;
    right:0;
    width:100%;
    background:#111827;
    flex-direction:column;
    align-items:center;
    padding:25px 0;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .nav-links a{
    padding:12px 0;
    width:100%;
    text-align:center;
  }

  .hamburger{
    display:flex;
  }
}
